@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(1em); }

  100% {
    -webkit-transform: translateY(-2em); } }

@-moz-keyframes bounce {
  0% {
    -webkit-transform: translateY(1em); }

  100% {
    -webkit-transform: translateY(-2em); } }

@-o-keyframes bounce {
  0% {
    -webkit-transform: translateY(1em); }

  100% {
    -webkit-transform: translateY(-2em); } }

@keyframes bounce {
  0% {
    -webkit-transform: translateY(1em); }

  100% {
    -webkit-transform: translateY(-2em); } }

@-webkit-keyframes background {
  0% {
    background-position: center center, center 0; }

  100% {
    background-position: center center, center -175.5px; } }

@-moz-keyframes background {
  0% {
    background-position: center center, center 0; }

  100% {
    background-position: center center, center -175.5px; } }

@-o-keyframes background {
  0% {
    background-position: center center, center 0; }

  100% {
    background-position: center center, center -175.5px; } }

@keyframes background {
  0% {
    background-position: center center, center 0; }

  100% {
    background-position: center center, center -175.5px; } }

body {
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0; }

.wrap {
  width: 86%;
  max-width: 1200px;
  margin: 0 auto; }

a {
  color: #ea4c89;
  text-decoration: none;
  transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out; }
  a:hover {
    color: #e51e6b; }

.btn {
  font-weight: 300;
  border: 1px solid #ea4c89;
  padding: .75em 1.25em;
  line-height: 1em;
  border-radius: 6px;
  display: inline-block; }
  .btn:hover {
    color: #fff;
    background-color: #ea4c89; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h4 {
  font-size: 1.25em;
  font-weight: 300; }

input[type='text'], input[type='email'] {
  background-color: transparent;
  border: none;
  appearance: none;
  color: rgba(0, 0, 0, 0.4);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  padding: 1em 0; }
  input[type='text']:focus, input[type='email']:focus {
    outline: none; }

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.2); }

input[type='submit'] {
  font-size: 1.25em;
  background: none;
  color: #ea4c89;
  font-weight: 300;
  font-family: "Helvetica Neue", sans-serif;
  border: none;
  appearance: none;
  cursor: pointer; }
  input[type='submit']:focus {
    outline: none; }

img {
  max-width: 100%; }

#attendees ul li .links li a {
  font-family: "SSSocial";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased; }

@media screen and (min-width: 600px) {
  h1 {
    font-size: 2.5em; }

  h2 {
    font-size: 1.75em; }

  .btn {
    font-size: 1.125em; } }
header {
  padding: 4em 0; }

@media screen and (min-width: 600px) {
  header {
    padding-bottom: 5em; } }
.event-info {
  text-align: center; }
  .event-info figure {
    margin-bottom: 2.5em; }
    .event-info figure img {
      -webkit-animation: bounce .3s ease-out infinite alternate; }
  .event-info ul {
    list-style-type: none;
    margin-bottom: 2.5em;
    padding: 0; }
    .event-info ul li {
      display: inline-block; }
      .event-info ul li + li {
        margin-left: 1em; }
      .event-info ul li a {
        color: #777;
        font-weight: 300;
        font-size: 1.125em; }
        .event-info ul li a:hover {
          color: #ea4c89; }
      .event-info ul li.date a, .event-info ul li.location a {
        padding-left: 30px; }
      .event-info ul li.date a {
        background: url("/images/calendar.svg") no-repeat center left;
        background-size: contain; }
      .event-info ul li.location a {
        background: url("/images/location.svg") no-repeat center left;
        padding-left: 25px;
        background-size: contain; }

@media screen and (min-width: 600px) {
  .event-info ul li a {
    font-size: 1.5625em; }
  .event-info ul li.date a, .event-info ul li.location a {
    padding-left: 35px; }
  .event-info ul li.date a {
    background-size: auto; }
  .event-info ul li.location a {
    padding-left: 29px;
    background-size: auto; } }
#newsletter {
  background-color: #ea4c89;
  padding: 2.5em 0;
  text-align: center;
  color: #fff; }
  #newsletter input[type='text'], #newsletter input[type='email'] {
    text-align: center;
    display: block;
    width: 100%; }
  #newsletter input[type='submit'] {
    color: #fff; }

@media screen and (min-width: 600px) {
  #newsletter {
    padding: 4em 0; } }
#attendees {
  text-align: center; }
  #attendees h2 {
    margin: 1.5em 0; }
  #attendees ul {
    list-style-type: none;
    padding: 0; }
    #attendees ul li {
      width: 45%;
      display: inline-block;
      margin-bottom: 1em;
      vertical-align: top; }
      #attendees ul li:nth-child(2n+1) {
        margin-right: 4%; }
      #attendees ul li:nth-child(2n) {
        margin-left: 4%; }
      #attendees ul li h4 a {
        color: #333; }
        #attendees ul li h4 a:hover {
          color: #ea4c89; }
      #attendees ul li figure {
        max-width: 180px;
        margin: 0 auto; }
      #attendees ul li img {
        border-radius: 50%;
        margin-bottom: .5em; }
      #attendees ul li p {
        font-size: .875em;
        color: #999;
        margin: 0;
        display: none; }
      #attendees ul li .links {
        margin-top: .5em; }
        #attendees ul li .links li {
          width: auto;
          display: inline-block;
          padding: .25em; }

@media screen and (min-width: 600px) {
  #attendees h2 {
    margin: 3.5em 0; }
  #attendees ul li {
    margin: 0;
    margin-bottom: .5em;
    width: 31%;
    box-sizing: border-box;
    padding: 1em; }
    #attendees ul li img {
      margin-bottom: 1em; }
    #attendees ul li:nth-child(2n+1) {
      margin-right: 0; }
    #attendees ul li:nth-child(2n) {
      margin-left: 0; }
    #attendees ul li p {
      display: block; } }
@media screen and (min-width: 800px) {
  #attendees h2 {
    margin: 3.5em 0; }
  #attendees ul li {
    margin-bottom: 1.5em;
    width: 24%; } }
footer.event-info {
  background: -webkit-linear-gradient(top, rgba(68, 68, 68, 0.3) 0%, #444444 99%, #444444 100%), url("/images/pattern@2x.png") repeat center 0;
  -webkit-animation: background 2s linear infinite;
  background-size: auto, 200px 175.5px;
  padding: 4em 0; }
  footer.event-info h1 {
    color: #fff; }
  footer.event-info ul li a {
    color: #b3b3b3; }
  footer.event-info .btn:hover {
    color: #444; }

@media screen and (min-width: 600px) {
  footer {
    padding: 5em;
    padding-top: 7em; } }
